
#container {
  display: flex;
  flex-wrap: wrap;
  
}  

#description_container{
    flex: 2;
    background-color: blueviolet;
    padding: 20px;
}

#title_container   {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

#title_container #title {
  font-size: 2.5em;
  font-weight: bold;
}


#title_container #climate_impact {
  font-size: 1.5em;
   
}
#description_container #description {
  font-size: 2em;
}

#image_container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image_container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

#energy_container {
  flex-basis: 100%;
  background-color: hotpink;
  margin-top: 10px;
}
#ingredients {
  flex:  50%; 
  background-color: lightgreen;
  margin-top: 10px;
}

#instructions {
  flex: 50%; 
  background-color: lightblue;
  margin-top: 10px;
}
#cocktail {
  flex-basis: 100%;
  background-color: orangered;
  margin-top: 10px;
  text-align: center;
}