


#back{
    font-size: 35px;
    position:fixed;
    bottom: 20px;
    left: 20px;
    width: 250px;
    height: 100px;
    background-color: var(--contrast-low-prio);
    border-style:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.colors{
    --primary-background: #B8D7A5;
    --secondary-background: #D3EECD;
    --general-text: #203039;
    --accent-high-prio: #5D903E;
    --accent-low-prio: #8DC972;
    --contrast-high-prio: #BF8B2E;
    --contrast-low-prio: #D7C04C;
}